<%- include("partials/header") %>

<h1>Home</h1>
<p><%= homeContent %></p>
<% posts.forEach((post) => { %>
<h1><%= post.title %></h1>
<p>
  <%# TODO: Put this in a constant of line length or something... %>
  <% if (post.body.length > 100) { %>
  <%= post.body.substring(0, 100) %>...
  <a href="post/<%=post.title%>">Read More</a>
  <% } else { %>
  <%= post.body %>
  <% } %>
</p>
<% }) %>


<%- include("partials/footer") %>